/*全体共通
最初から設定してあるので特に変更
しなくても大丈夫です♪
-----------------*/

/*パディングをサイズ内側にする処理*/
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

/*ーーーーーーーーーーー*/
/* デフォルト
/*ーーーーーーーーーーー*/

html {
  font-size: 62.5%⋆16px⋆62.5%=10px⋆;
  scroll-behavior: smooth;
}

body {
  font-family: Roboto, "Yu Gothic Medium", "游ゴシック Medium", YuGothic,
    "游ゴシック体", "ヒラギノ角ゴ Pro W3", "メイリオ", sans-serif;
  line-height: 1.75;
  font-size: 16px;
}

img {
  max-width: 100%;
  height: auto;
}

/*header mv
---------------------*/
.header_img {
  position: relative;
}

.header_img img {
  object-fit: contain;
  width: 100%;
}

.mv {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 32px;
  font-weight: bold;
}

.mv_1 {
  font-size: 18px;
  font-weight: normal;
}

/*meanu
---------------------*/
.logo_list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  border: solid 1px #efefef;
}

.header_logo {
  text-align: left;
  width: 20%;
}

.header_logo img {
  margin-left: 60px;
}

.nav-list {
  display: flex;
  font-size: 21px;
}

.nav-item {
  margin: 0 0 0 48px;
}

.nav-item > a {
  color: #222222;
}

/*About
---------------------*/
.text-center {
  justify-content: center;
  text-align: center;
}

.About-title {
  font-size: 24px;
  color: #ffd61a;
  margin-top: 120px;
  margin-bottom: 24px;
}

.about_1 {
  margin-top: 64px;
  margin-bottom: 40px;
}

.about_2 {
  margin-bottom: 80px;
}

/*Course
---------------------*/
.Course-title {
  font-size: 24px;
  color: #222222;
  margin-top: 64px;
}

.course_1 {
  margin-bottom: 64px;
}

.course_contents {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(250, 246, 246);
}

.course_contents img {
  width: 50%;
}

.course_contents div {
  width: 50%;
}

.course_string {
  display: flex;
  flex-flow: column;
  align-items: center;
  padding: 48px;
}

.Course-title_1 {
  margin-bottom: 40px;
}

.Course-title_2 {
  margin-bottom: 40px;
}

.Course-title_3 {
  margin-bottom: 40px;
}
.course_contents:nth-child(even) {
  flex-direction: row-reverse;
}

/*News
---------------------*/

.news_1 {
  margin-bottom: 64px;
}

.news_box {
  display: flex;
  margin: 32px;
}

.date {
  margin-top: 32px;
  margin-bottom: 24px;
}

/*More
---------------------*/
.more {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 56px;
  margin-bottom: 48px;
}

.btn {
  display: block;
  background-color: #ffd61a;
  color: white;
  width: 300px;
  height: 60px;
  text-align: center;
  font-size: 1.8rem;
}

/*Access
---------------------*/
.access_all {
  background-color: #fafafa;
}

.access {
  text-align: center;
}

.access_name {
  margin-bottom: 64px;
}

.map {
  width: 100%;
  height: auto;
}

.access_box {
  display: flex;
  width: 100%;
  justify-content: center;
  gap: 48px;
}

.access_box li {
  padding: 10px;
}

.school_name {
  margin-top: 64px;
}

.school_mail {
  margin-bottom: 80px;
}

/*Contact
---------------------*/

.contact {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

input[type="text"] {
  background-color: rgb(255, 255, 255);
  border: 1px solid #bfbfbf;
  width: 328px;
  height: 25px;
}

textarea {
  background-color: rgb(255, 255, 255);
  border: 1px solid #bfbfbf;
}

.contact_1 {
  margin-bottom: 60px;
}

.contact_2 {
  margin-top: 32px;
}

.contact_3 {
  margin-bottom: 80px;
}

/*Post
---------------------*/

.post_ {
  display: flex;
  align-items: center;
  justify-content: center;
}

.post_title {
  display: flex;
  flex-direction: column;
  margin-right: 80px;
  height: 230px;
}

.post_form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.form_select {
  display: flex;
  flex-direction: column;
}

.post_detail {
  text-align: left;
  padding-top: 32px;
}

/*Sent
---------------------*/
.sent {
  display: block;
  margin: auto;
  background-color: #ffd61a;
  color: white;
  width: 298px;
  height: 54px;
  text-align: center;
  font-size: 18px;
  margin-bottom: 80px;
  margin-top: 60px;
}

/*Footer
---------------------*/
.footer {
  display: flex;
  justify-content: center;
  align-content: center;
  background-color: #707070;
  font-size: 18px;
  color: white;
  padding-top: 16px;
}

#pagetop {
  position: fixed;
  right: 0;
  bottom: 0;
  text-indent: -9999px;
  margin: 0;
}

#pagetop a {
  position: relative;
  display: block;
  width: 65px;
  height: 65px;
  background: rgb(151, 144, 144);
  transition: opacity 0.6s ease;
}

#pagetop a:hover {
  opacity: 0.3;
}

#pagetop a::before {
  position: absolute;
  top: 7px;
  right: 0;
  bottom: 0;
  left: 0;
  display: block;
  width: 14px;
  height: 14px;
  margin: auto;
  content: "";
  transform: rotate(-45deg);
  border-top: 1px solid #fff;
  border-right: 1px solid #fff;
}

@media screen and (max-width: 767px) {
  #pagetop a {
    width: 45px;
    height: 45px;
  }

  #pagetop a::before {
    top: 5px;
    width: 10px;
    height: 10px;
  }
}
